parameters:
    debug: false
    serializer.config_dir: '%kernel.root_dir%/config/serializer'
    serializer.cache_dir: '%kernel.root_dir%/cache'

    toggl.api_key: KEY
    toggl.toggl_base_uri: https://www.toggl.com/api/
    toggl.reports_base_uri: https://www.toggl.com/reports/api/

    toggl.time_entries_storage_dir: '%kernel.root_dir%/storage/'
    toggl.time_entries_storage_file: 'sent-time-entries'

    invoice_ninja.base_uri: http://invoiceninja.dev/api/
    invoice_ninja.api_key: KEY

    # Number of days back from today to retrieve time entries for 
    # since_days_ago: 1

    # True or False indicator for whether a project should be used
    #    as the client in Invoice Ninja if a client is not provided
    # use_projects_as_clients: false

    # Key = name in toggl (Has to be correct)
    # Value = client id from invoiceninja
    # clients:
    #     client_name: 1

    # Key = name in toggl
    # Value= id from invoiceninja
    # projects:
    #     first_project: 1
    #     second_project: 2
